# Configurações do Servidor de E-mail (Gmail)
EMAIL_REMETENTE=seu-email-aqui@gmail.com
SENHA_APP=sua-senha-de-app-aqui

# Credenciais do Administrador Mestre (Criado na primeira execução)
ADMIN_EMAIL=admin@seudominio.com
ADMIN_SENHA=SuaSenhaForte1