# Ambientes Virtuais
venv/
env/

# Cofre de Senhas e Variáveis de Ambiente (CRÍTICO)
.env

# Banco de Dados Local
*.db
*.sqlite3
loterias_caixa.db

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de sistema operacional
.DS_Store
Thumbs.db